
.title {
    
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: underline;
    text-align: center;
    h1 {
        font-size: 3.5em;
    }
}

.body {
    @extend .flex-box-center;
    div {
        flex-grow:1;
        width: 300px;
        @extend .flex-box-center;
    }
    div:nth-child(2) {
        ul {
            list-style: none;
            li {
                padding: 20px;
                font-size: 24px;
            }
        }
    }
    // icons inside home
    .fa {
        width: 50px;
        
    }
}