#navBar {
    width:100%;
    height: 100px;
    @extend .flex-box-center;
    background:pink;
    @extend .z-depth-3;
    div {
        flex-grow:1;
        @extend .flex-box-center;
        ul {
            @extend .flex-box-center;            
            list-style: none;
            li {
                margin: 20px;
            }

        }
    }
    //logo div 
    div:first-child {
        justify-content: flex-start;
        img {
            width: 50px;
            margin:20px;
        }
    }


}